.contact-section {
  padding: 100px 20px;
  background: linear-gradient(to right, #364b64, #1a3957);
  color: #ffffff;
  animation: fadeInUp 1s ease-out;
}

.contact-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-info h2 {
  margin-bottom: 20px;
  color: #57ad44;
}

.contact-info p {
  font-size: 16px;
  margin: 10px 0;
}

.contact-info i {
  color: #44ad4e;
  margin-right: 10px;
}

.social-icons a {
  font-size: 20px;
  margin-right: 10px;
  color: #57ad44;
  text-decoration: none;
}

.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

.contact-form button {
  background-color: #44ad52;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #2f7538;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .contact-container {
    font-size: 2rem;
  }

  
}